<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fireballs and Bolides</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>

      
        <link rel="stylesheet" href="/static/css/style.css" />

</head>

<body>
    <div class="col-md-12 jumbotron text-center" style="background-color: rgb(201, 194, 194);">
        <h1>Fireballs and Bolides </h1>
        <br><br>
        <a href="/maps.html" class="btn btn-info btn-lg" role="button">Maps</a>
        <a href="/visualizations.html" class="btn btn-info btn-lg" role="button">Data Visuals</a>
      </div>

  <div class="container">
  
    <div class="row">

          <div class="panel panel-default" style="float:center; margin-left: 0px; margin-right:0px; color:white;">

            <div class="panel-heading text-center typeface-js" style="background-color: rgb(201, 194, 194); color: rgb(5, 5, 5); visibility: visible;">
              <h1>Overview</h1>
              <p>An intro/overview of the dataset can go here.</p>
              <br>
            </div>
            <div class= "panel-body text-center" >
              <img src="/static/images/fireball.jpg" atl="fireball image" width="300" height = "200">
              <img src="/static/images/fireball_one.jpg" atl="fireball image two" width="300" height = "200">
              <img src="/static/images/fireball_two.jpg" atl="fireball image three" width="300" height = "200">
            </div>
          </br>
          </div>
      </div>

      <footer class="text-center">
          <b><h5>The data for this dashboard was gathered from <a href="https://cneos.jpl.nasa.gov">cneos.jpl.nasa.gov</a>.</h5></b>
      </footer>



  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="/static/js/visualsLogic.js">

  
</body>

</html>
